# ===========================
# Python
# ===========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3

# Virtual Environments
venv/
.venv/
env/

# Environment Variables
.env
.env.*
!.env.example

# Django
db.sqlite3
media/
staticfiles/
tmp/
resumes/

# Logs
*.log
logs/

# ===========================
# Node
# ===========================
node_modules/
dist/
dist-ssr/

# ===========================
# IDE
# ===========================
.vscode/
.idea/

# ===========================
# OS
# ===========================
.DS_Store
Thumbs.db